<%- include('../../partials/header.ejs')%>
<section id="create_module">
  <h1>Create a New Module</h1>
  <form action="/modules/create" method="POST">
    <input type="hidden" name="courseId" value="<%= courseId %>">
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    
    <button type="submit">Create Module</button>
  </form>

  <p><a href="/courses/<%= courseId %>">Back to Module</a></p>

</section>
